.mi-hc-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.mi-hc-2x {
  font-size: 2em;
}
.mi-hc-3x {
  font-size: 3em;
}
.mi-hc-4x {
  font-size: 4em;
}
.mi-hc-5x {
  font-size: 5em;
}
.mi-hc-fw {
  width: 1.28571429em;
  text-align: center;
}
.mi-hc-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.mi-hc-ul > li {
  position: relative;
}
.mi-hc-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.mi-hc-li.mi-hc-lg {
  left: -1.85714286em;
}
.mi-hc-border {
  padding: .1em .25em;
  border: solid 0.1em #9e9e9e;
  border-radius: 2px;
}
.mi-hc-border-circle {
  padding: .1em .25em;
  border: solid 0.1em #9e9e9e;
  border-radius: 50%;
}
.mi.pull-left {
  float: left;
  margin-right: .15em;
}
.mi.pull-right {
  float: right;
  margin-left: .15em;
}
.mi-hc-spin {
  -webkit-animation: mi-spin 1.5s infinite linear;
          animation: mi-spin 1.5s infinite linear;
}
.mi-hc-spin-reverse {
  -webkit-animation: mi-spin-reverse 1.5s infinite linear;
          animation: mi-spin-reverse 1.5s infinite linear;
}
@-webkit-keyframes mi-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes mi-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes mi-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}
@keyframes mi-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}
.mi-hc-rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mi-hc-rotate-180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mi-hc-rotate-270 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.mi-hc-flip-horizontal {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.mi-hc-flip-vertical {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
.mi-hc-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.mi-hc-stack-1x,
.mi-hc-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.mi-hc-stack-1x {
  line-height: inherit;
}
.mi-hc-stack-2x {
  font-size: 2em;
}
.mi-hc-inverse {
  color: #ffffff;
}